@charset "utf-8";
@import url("main.css");

body {
  background-color: #f2f2f2;
}
.container {
  width: 50%;
  max-width: 400px;
  min-width: 300px;
  margin: 200px auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.container h2 {
  text-align: center;
  margin-bottom: 30px;
}
.input-group {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}
.input-group label i {
  width: 14px;
  color: #888;
  /* font-size: 15px; */
}
/* input 태그에 클릭 했을 때 placeholder 글씨가 없어지도록 하는 */
input:focus::placeholder {
  color: transparent;
}
button {
  border: 0;
  padding: 10px;
  border-radius: 3px;
}
/* 대괄호 안에 type의 속성값을 입력 > 그 속성을 가진 버튼에만 css적용  */
button[type="submit"] {
  width: 100%;
  margin-bottom: 20px;
  background-color: #4284f3;
  color: #fff;
}
button[type="button"] {
  display: block;
  margin-left: auto;
}
